@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

body {
	background-color: #2a2a2a;
	font-family: 'Droid Sans', sans-serif;
}

blockquote {
	background-color: rgba(0, 0, 0, 0.05);
	border: none;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.35);
	font-size: 110%;
}

.post-panel {
	border-style: none;
}

.post-panel > .panel-heading {
	border-color: #ddd;
}

.post-panel > .panel-heading > .panel-title {
	font-variant: small-caps;
}

.post-panel > .panel-heading > h1.panel-title {
	color: #555;
	font-size: 45px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.016);
}

.post-panel > .panel-heading > h2.panel-title {
	color: #666;
	font-size: 30px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.008);
}

.post-panel img {
	width: 100%;
}

.shk-space-above {
	margin-top: 15px;
}

.shk-space-below {
	margin-bottom: 15px;
}

.shk-space {
	margin-top: 15px;
	margin-bottom: 15px;
}

.shk-thumb-container {
	position: relative;
	width: 100%;
	/*max-width: 350px;*/
	margin-left: auto;
	margin-right: auto;
}

.shk-thumb-dummy-1-1 {
	padding-top: 100%;
}

.shk-thumb-dummy-4-3 {
	padding-top: 75%;
}

.shk-thumb {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-size: contain;
	background-repeat: no-repeat;
}

.shk-thumb-inline-container {
	margin-top: 7px;
	margin-bottom: 7px;
	text-align: center;
	letter-spacing: 13px;
}

.shk-thumb-inline {
	display: inline-block;
	vertical-align: middle;
	background-size: contain;
	background-repeat: no-repeat;
}

.shk-yt {
	width: 85px;
	height: 60px;
	background-image: url('../img/YouTube-icon-full_color.png');
}

.shk-ghmark {
	width: 72.5px;
	height: 72.5px;
	background-image: url('../img/GitHub-Mark-120px-plus.png');
}

.shk-thumb-light {
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.65);
}

.shk-thumb-dark {
	box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.65);
}

.shk-thumb-light:hover {
	box-shadow: inset 0 0 35px rgba(0, 0, 0, 0.8);
}

.shk-thumb-dark:hover {
	box-shadow: inset 0 0 75px rgba(255, 255, 255, 0.65);
}
